<!-- app/views/tasks/index.html.erb -->
<h1>All Articles</h1>

<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No articles found.</p>
<% end %>

<%= link_to 'New article', new_article_path %>
